
header{
    text-align: center;
}

.container{
    width: 170px;
    padding: 5px 0 5px 0;
    background-color: brown;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 5px;
    align-content: center;
    justify-content: center;
}
.cell{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.startScreen{
    margin: 0 auto;
    top: 50px;
    width: 100%;
    position: absolute;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    padding-top: 20px;
}
.playerContainer{
    width: 60%;
    position: relative;
    margin: 0 auto;
    height: 50vh;
    padding-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}
.displayNone{
    display: none;
}
.visibilityOff{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
.visibilityOn{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}   
.player1,.player2{
    position: absolute;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    
}
.playerIcon{
    margin: 0 auto;
    display: block;
    width: 30px;
    max-width: 30px;
    padding-bottom: 20px;
}
.playerTitle{
    padding-bottom: 5px;
}
.inputName{
    width: 50%;
}
.submitButton {
    margin-top: 20px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 20px 25% 20px 25%;
    text-align: center;
    padding: 10px 0;
}
.scoreContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.playerScore{
    text-align: center;
}

#resetScore{
    display: block;
    margin: 0 auto;
}

@media screen and (min-width:400px) {
    .container{
        width: 320px;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);

    }
}
@media screen and (min-width:650px) {
    .playerContainer{
        width: 300px;

    }
}
@media screen and (min-width:900px) {
  .inputName, .submitButton{
      width: 270px;
      display: block;
      margin: 0 auto;
  }
  .submitButton{
      margin: 20px auto;
  }
}